<h3>Detalle del articulo</h3>

<%= image_tag('tu_imagen.jpg', width: '150px', height: '150px', class: 'rounded', alt: 'office') %>
<%# Alojar las images dentro de app/assets/images/  %>

<p><strong>Titulo</strong></p>
<p><%= @article.title %></p>

<p><strong>Texto</strong></p>
<p><%= @article.text %></p>

<h2>Commentarios</h2>

<%= render @article.comments %>

<h2>Agregar un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to "Volver al listado de articulos",  articles_path %>